body{
    margin:  0;
    padding: 0;
    background: linear-gradient(120deg,#05b149,#000000, #030890);
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    width: 23%;
}

h1{
    text-align: center;
}